:root{
  --bgc-background: rgb(64,64,64);
  --bgc-foothead: rgb(16,16,16);
  --bgc-container: rgb(200,10,80);
  --bgc-hover: radial-gradient(circle,var(--bgc-container),rgb(240,140,200));
}

html{
  background: var(--bgc-background);
}

header{
  background: var(--bgc-foothead);
}

footer{
  background: var(--bgc-foothead);
}

.button{
  padding: 10px;
  margin: 3px;
  background: var(--bgc-container);
}

.hover:hover{
  background: var(--bgc-hover);
}

.round{
  border-radius: 5px;
}

.shadow-down{
  box-shadow: 0px 5px 10px;
}